@font-face {
    font-family: Ubuntu-Regular;
    src: url('https://fonts.googleapis.com/css?family=Ubuntu');
}
@font-face {
    font-family: Ubuntu-Bold;
    src: url('https://fonts.googleapis.com/css?family=Ubuntu:700');
}

*{
    font-family: 'Ubuntu-Regular', sans-serif;
}

.finished{
    text-decoration: line-through;
}

.notFinished{
    text-decoration: none;
}

button{
    background: #716ff3;
    border:none;
    border-radius: 3px;
    cursor: pointer;
    /*font*/
    font-family: 'Ubuntu-Bold', sans-serif;
    font-size: 15px;
    color: #fff;
}

#addTasks{
    display:flex;
    align-items: center;
}

#addTasks *{
    margin-right:4px;
}
